<html>
    <head>
        <title>Statistics</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    
    <body id="stats-page">
        <!-- Header -->
        {% include 'header.html' %}

        <!-- Main Section -->
        <main>
            <ul class="query-selector">
                <li>
                    <input type="text" class="query-form-control" name="query-id" id="query-id" placeholder="Query ID">
                </li>
                <li>
                    <input type="text" class="query-form-control" name="person-name" id="person-name" placeholder="Person Full Name">
                </li>
                <li>
                    <input type="text" class="query-form-control" name="times-num" id="times-num" placeholder="Number of Times">
                </li>
                <li>
                    <input type="text" class="query-form-control" name="begin-date" id="begin-date" placeholder="Begin Date">
                </li>
                <li>
                    <input type="text" class="query-form-control" name="end-date" id="end-date" placeholder="End Date">
                </li>
            </ul>
            <div class="query-button-container">
                <button id="send-query-button" class="submit-order-button" type="submit"><p>Send a Query</p></button>
            </div>      
        </main>
        <!-- Footer -->
        {% include 'footer.html' %}
        <script src="{{ url_for('static', filename='js/dom.js') }}"></script>
    </body>
</html>